<?xml version="1.0" encoding="UTF-8"?>
<metadata>
  <language>eng</language>
  <scanningcenter>alberta</scanningcenter>
  <sponsor>University of Alberta Libraries</sponsor>
  <contributor>University of Alberta Libraries</contributor>
  <date>1987</date>
  <subject>Runoff</subject>
  <title>Spring runoff summary</title>
  <creator>Alberta River Forecast Centre</creator>
  <creator>Alberta. Water Resources Management Services. Survey Branch</creator>
  <collection>albertagovernmentpublications</collection>
  <collection>university_of_alberta_libraries</collection>
  <collection>toronto</collection>
  <shiptracking>agov5</shiptracking>
  <cat_key>657473</cat_key>
  <year>1987</year>
  <publisher>Edmonton : Alberta Environment, Water Resources Management Services</publisher>
  <description>Description based on: 1987</description>
  <description>4 48</description>
  <mediatype>texts</mediatype>
  <repub_state>4</repub_state>
  <page-progression>lr</page-progression>
  <publicdate>2014-02-18 18:29:14</publicdate>
  <updatedate>2014-02-18 19:35:08</updatedate>
  <updater>associate-angie-chenier@archive.org</updater>
  <identifier>springrunoffsumm00albe</identifier>
  <uploader>associate-angie-chenier@archive.org</uploader>
  <addeddate>2014-02-18 19:35:10.235319</addeddate>
  <scanner>scribe1.alberta.archive.org</scanner>
  <notes>No copyright page found.</notes>
  <repub_seconds>81</repub_seconds>
  <ppi>350</ppi>
  <camera>Canon EOS 5D Mark II</camera>
  <operator>associate-angie-chenier@archive.org</operator>
  <scandate>20140321210400</scandate>
  <republisher>associate-alex-white@archive.org</republisher>
  <imagecount>90</imagecount>
  <foldoutcount>0</foldoutcount>
  <identifier-access>http://archive.org/details/springrunoffsumm00albe</identifier-access>
  <identifier-ark>ark:/13960/t8vb0r69b</identifier-ark>
  <ocr>ABBYY FineReader 9.0</ocr>
  <scanfee>200</scanfee>
  <invoice>1</invoice>
  <sponsordate>20140331</sponsordate>
  <backup_location>ia905804_17</backup_location>
</metadata>
