<?xml version="1.0" encoding="UTF-8"?>
<metadata>
  <language>English</language>
  <scanningcenter>alberta</scanningcenter>
  <sponsor>University of Alberta Libraries</sponsor>
  <contributor>University of Alberta Libraries</contributor>
  <date>1987</date>
  <subject>Runoff</subject>
  <subject>Water-supply</subject>
  <title>Spring runoff outlook</title>
  <creator>Alberta. Environmental Engineering Support Services. Technical Services Division</creator>
  <creator>Alberta River Forecast Centre</creator>
  <creator>Alberta. Water Resources Management Services. Survey Branch</creator>
  <collection>albertagovernmentpublications</collection>
  <collection>university_of_alberta_libraries</collection>
  <collection>toronto</collection>
  <shiptracking>agov9</shiptracking>
  <cat_key>1764227</cat_key>
  <notes>No title page found. No copyright page found. No table-of-contents pages found.</notes>
  <publisher>[Edmonton] : Alberta Dept. of the Environment, Environmental Engineering Support Services, Technical Services Division</publisher>
  <description>Description based on: 1974</description>
  <description>Prepared by the River Forecast Centre and the Survey Branch, Technical Services Division, Water Resources Management Services, Alberta Environment, &lt;19- &gt;-1987-1988</description>
  <description>Published by Alberta Environment, Water Resources, &lt;19- &gt;-1987-1988</description>
  <description>Merged with: Water supply outlook for Southern and Central Alberta, ISSN 0837-208X; and Water supply outlook, ISSN 0319-9800; to become: Water supply outlook for Alberta, ISSN 0848-4066</description>
  <description>Latest issue consulted: Apr. 1988</description>
  <description>38</description>
  <mediatype>texts</mediatype>
  <repub_state>4</repub_state>
  <page-progression>lr</page-progression>
  <publicdate>2014-10-07 18:53:32</publicdate>
  <updatedate>2014-10-07 19:49:40</updatedate>
  <updater>associate-angie-chenier@archive.org</updater>
  <identifier>springrunoffoutl00albe</identifier>
  <uploader>associate-angie-chenier@archive.org</uploader>
  <addeddate>2014-10-07 19:49:42.995215</addeddate>
  <scanner>scribe1.alberta.archive.org</scanner>
  <repub_seconds>260</repub_seconds>
  <ppi>500</ppi>
  <camera>Canon EOS 5D Mark II</camera>
  <operator>associate-angie-chenier@archive.org</operator>
  <scandate>20141010162903</scandate>
  <republisher>associate-alex-white@archive.org</republisher>
  <imagecount>116</imagecount>
  <foldoutcount>0</foldoutcount>
  <identifier-access>http://archive.org/details/springrunoffoutl00albe</identifier-access>
  <identifier-ark>ark:/13960/t3905073w</identifier-ark>
  <bookplateleaf>0004</bookplateleaf>
  <ocr>ABBYY FineReader 9.0</ocr>
  <scanfee>200</scanfee>
  <invoice>1</invoice>
  <sponsordate>20141031</sponsordate>
  <backup_location>ia905905_4</backup_location>
</metadata>
