dj-database-url==0.4.1
Django==2.2.24
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2
requests==2.20.0
django-ipware==1.1.6
Unidecode==0.4.20
git+git://github.com/maharshmellow/pymarc
rdflib==4.2.2
beautifulsoup4==4.6.0
langdetect==1.0.7
python-twitter==3.3
PyPDF2==1.26.0
