
{% load replace %}
{% block content %}

	<tr>
		<td class="progress_stage{{obj.id}}" colspan="9" align="center">
			<div class="progress-container"> 
	            <div class="wrapper"> 
	            	<div class="progress-nav">
	                      <div class="stage Extracting_names/titles done"><span>Extracting names/titles</span></div>
	                      <div class="stage Enriching_names done"><span>Enriching names</span></div>
	                      <div class="stage Enriching_titles done"><span>Enriching titles</span></div>
	                      <div class="stage Optimization done"><span>Optimization</span></div>
	                      <div class="stage Writing_to_BIBFRAME done"><span>Writing to BIBFRAME</span></div>
	                  </div>
	            </div>
	            <div class="stage results completed"><span>{{ obj.stage }}</span></div>
	        </div>
		</td>
	</tr>
	<tr class="progress_head{{obj.id}}">
		<th>Process ID</th>
		<th>Names extracted</th>
		<th>Titles extracted</th>
		<th>Personal names</th>
		<th>Corporate names</th>
		<th>Names Enriched</th>
		<th>Titles Enriched</th>
	</tr>
	<tr class="progress_row{{obj.id}}">
		<td>{{ obj.process_ID }}</td>
		<td>{{ obj.all_names }}</td>
		<td>{{ obj.all_titles }}</td>
		<td>{{ obj.p_names }}</td>
		<td>{{ obj.c_names }}</td>
		<td>{{ obj.name_index }}   
			<button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#process{{ obj.process_ID }}" style="margin-left: 10%;">
                API details
                </button>
            <div class="modal fade {{ obj.process_ID }}" id="process{{ obj.process_ID }}" tabindex="-1" role="dialog" aria-labelledby="{{ obj.process_ID }}Label" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="{{ obj.process_ID }}Label">Naems enriched by APIs</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
					<table>
						<tr>
							<th>LC (didyoumean)</th>
							<th>LC (Suggest)</th>
							<th>VIAF</th>
							<th>VIAF Personal</th>
							<th>VIAF Corporate</th>
						</tr>
						<tr>
							<td>{{obj.search_api_LC}} ({{ obj.search_api_LC|get_perc:obj.all_names }}%)</td>
							<td>{{obj.search_api_LCS}} 
									({{ obj.search_api_LCS|get_perc:obj.all_names }}%)
							</td>
							<td>{{obj.search_api_VF}} ({{ obj.search_api_VF|get_perc:obj.all_names }}%)</td>
							<td>{{obj.search_api_VFP}} ({{ obj.search_api_VFP|get_perc:obj.all_names }}%)</td>
							<td>{{obj.search_api_VFC}} ({{ obj.search_api_VFC|get_perc:obj.all_names }}%)</td>
						</tr>
					</table>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</td>
		<td>{{ obj.title_index }}</td>
	</tr>	

{% endblock %}