
{% block content %}

	<tr>
		<td class="progress_stage{{obj.id}}" colspan="8" align="center">
			<div class="progress-container"> 
	            <div class="wrapper"> 
	            	<div class="progress-nav">
	                      <div class="stage MARC_to_MARC-XML current"><span>MARC to MARC/XML</span></div>
	                      <div class="stage MARC-XML_to_BIBFRAME"><span>MARC/XML to BIBFRAME</span></div>
	                      <div class="stage Extracting_names/titles"><span>Extracting names/titles</span></div>
	                      <div class="stage Enriching_names"><span>Enriching names</span></div>
	                      <div class="stage Enriching_titles"><span>Enriching titles</span></div>
	                      <div class="stage Optimization"><span>Optimization</span></div>
	                      <div class="stage Writing_to_BIBFRAME"><span>Writing to BIBFRAME</span></div>
	                  </div>
	            </div>
	            <div class="stage results"><span></span></div>
	        </div>
		</td>
	</tr>
	<tr class="progress_head{{obj.id}}">
		<th>Process ID</th>
		<th>Names extracted</th>
		<th>Titles extracted</th>
		<th>Personal names</th>
		<th>Corporate names</th>
		<th>MARC to BIBFRAME conversion Progress</th>
		<th>Name Enrichment Progress</th>
		<th>Title Enrichment Progress</th>
	</tr>
	<tr class="progress_row{{obj.id}}">
		<td>N/A</td>
		<td>N/A</td>
		<td>N/A</td>
		<td>N/A</td>
		<td>N/A</td>
		<td>N/A</td>
		<td>N/A</td>
		<td>N/A</td>
	</tr>

{% endblock %}