ERA_DCQ_migration-selection-test.xsl
newDCQ.xsl
.DS_Store
metadata-wrangling/theses_to_2009-16457-before_merge.mrk
metadata-wrangling/theses_to_2009-16457-merged.mrk
metadata-wrangling/theses_to_2009-noDepartment.mrk
metadata-wrangling/theses_to_2009-nocomma.mrk
metadata-wrangling/theses_to_2009-nocommaspace.mrk
metadata-wrangling/theses_to_2009-16457 - Copy.mrk
metadata-wrangling/theses_to_2009-nodate.mrk
metadata-wrangling/theses_to_2009-16457-export.txt
metadata-wrangling/theses_to_2009-final-dedup-4-part.xml
metadata-wrangling/theses_to_2009-final-dedup-2-part.xml
metadata-wrangling/theses_to_2009-final-3-part.xml
metadata-wrangling/theses_to_2009-final-4-part.xml
metadata-wrangling/theses_to_2009-final-dedup-3-part.xml
metadata-wrangling/proquest_theses-postlaunch/group_3.mrc
metadata-wrangling/proquest_theses-postlaunch/group_3_unicorn_ids
metadata-wrangling/proquest_theses-postlaunch/group_3_uniques.mrk
metadata-wrangling/proquest_theses-postlaunch/group_3_unicorn_ids-not_found
metadata-wrangling/proquest_theses-postlaunch/group_3-dupes.mrk
metadata-wrangling/proquest_theses-postlaunch/group_3-dupes-title.mrk
metadata-wrangling/internet_archive_coll/reports/ia_archive_marc_originalwerrors.tsv
metadata-wrangling/internet_archive_coll/reports/ia_marc_ual_collections.tsv
metadata-wrangling/internet_archive_coll/reports/ia_marc_ual_collections-sorted.tsv
metadata-wrangling/internet_archive_coll/reports/ia_marc_albertagovernmentpublications_enhanced.tsv
metadata-wrangling/internet_archive_coll/reports/ia_marc_albertagovernmentpublications_enhanced_merged_240.tsv
metadata-wrangling/internet_archive_coll/reports/ia_marc_ual_albertagovernmentpublications.tsv
metadata-wrangling/internet_archive_coll/reports/archive_marc.tsv
metadata-wrangling/internet_archive_coll/reports/count.tsv
metadata-wrangling/internet_archive_coll/reports/.~lock.albertagovpub_marc_fields_count.tsv#
metadata-wrangling/internet_archive_coll/reports/.~lock.count.tsv#
metadata-wrangling/test
metadata-wrangling/internet_archive_coll/albertagovernmentpublications/enhanced_marc_serials_monographs 
metadata-wrangling/internet_archive_coll/university_of_alberta_libraries_microfilm/.~lock.test.tsv#
metadata-wrangling/internet_archive_coll/university_of_alberta_libraries_microfilm/CIHM_MARC.tsv
metadata-wrangling/BIBFRAME/UADATA-BIBFRAME-All-files/
metadata-wrangling/BIBFRAME/MARC-URIs/marc/*
scripts/*.sublime-project
scripts/*.sublime-workspace
data_dictionary/__pycache__
data_dictionary/scripts/secret.py
data_dictionary/scripts/*.sublime-project
data_dictionary/scripts/*.sublime-workspace
data_dictionary/scripts/lib/__pycache__/*
data_dictionary/scripts/lib/message.md
data_dictionary/www/sftp-config.json
data_dictionary/scripts/lib/excel.pyc
data_dictionary/scripts/lib/config.pyc
scripts/jupiter_migration/results/*
scripts/jupiter_migration/__pycache__/config\.cpython-35\.pyc
scripts/jupiter_migration/__pycache__/utilities\.cpython-35\.pyc
data_dictionary/scripts/lib/secret.py
data_dictionary/scripts/lib/__pycache__/
data_dictionary/scripts/lib/secret.py
message\.md
*.pyc
scripts/jupiter_migration/cache/


scripts/jupiter_migration/view\.py

scripts/jupiter_migration/profile

scripts/jupiter_migration/tools\.py

scripts/jupiter_migration/config\.py

scripts/jupiter_migration/profile\.txt
