{% extends "../website/base.html" %}

{% block content %}
<div class="main-body">
  
  <div class="login_container">

    <div class="form_container">
  
{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <h3>Please login with your CanLink credentials.</h3><br>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>
<br>
<input type="submit" value="login" class="btn btn-secondary" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<br>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p><a href="{% url 'register' %}">Register as new user? </a></p>
    </div>
  </div>
</div>
{% endblock %}