<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type ="text/javascript" src ="{{ url_for('static', filename='script.js') }}" ></script>
  </head>
  
  <body class = "body">
    <div class="container-fluid">
      <h3 class="text-center">Jupiter Application Profile Editor</h3>
      
      <form>
        
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" name='profiles' type="button" data-toggle="dropdown">
            Select Profile
            <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="profile" name='profiles'  data-toggle="button">
            <li><button class="dropdown-item" type="button" name="profile" value='collection' data-toggle="button">Collection</li></button>
            <li><button class="dropdown-item" type="button" name="profile" value='generic' data-toggle="button">Generic</li></button>
            <li><button class="dropdown-item" type="button" name="profile" value='thesis' data-toggle="button">Thesis</li></button>
          </ul>

        </div>

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle"  name="properties" type="button" data-toggle="dropdown">
            Properties

            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" id='properties' role="menu" aria-labelledby="properties" name='properties' data-toggle="button"></ul>
        </div>
        
        <div class="list-group">
        <ul class="list-group" aria-labelledby="annotations" name='annotations'></ul>
        </div>

      </form>
  </body>
</html>