<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>
  
  <body class = "body">
    <div class="container-fluid" >
      <h1 class="text-center">Jupiter Application Profile Editor</h1>
        <div class="navbar-header">          
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" name='users' type="button" data-toggle="dropdown">
            Select User
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="user" name='users'  data-toggle="button">
            <li><button class="dropdown-item" type="button" name="user" value='Danoosh' data-toggle="button">Danoosh</li></button>
            <li><button class="dropdown-item" type="button" name="user" value='John' data-toggle="button">John</li></button>
            <li><button class="dropdown-item" type="button" name="user" value='Mariana' data-toggle="button">Mariana</li></button>
            <li><button class="dropdown-item" type="button" name="user" value='Sharon' data-toggle="button">Sharon</li></button>
            <li><button class="dropdown-item" type="button" name="user" value='Zach' data-toggle="button">Zach</li></button>
          </ul>
        </div>
        <!-- below, select a application profile you want to view/edit properties (this also selects the graph that will be edited in the triplestore) -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" name='profiles' type="button" data-toggle="dropdown">
            Select Profile
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="profile" name='profiles'  data-toggle="button">
            <li><button class="dropdown-item" type="button" name="profile" value='collection' data-toggle="button">Collection</li></button>
            <li><button class="dropdown-item" type="button" name="profile" value='community' data-toggle="button">Community</li></button>
            <li><button class="dropdown-item" type="button" name="profile" value='generic' data-toggle="button">Generic</li></button>
            <li><button class="dropdown-item" type="button" name="profile" value='instances' data-toggle="button">Instances (contrl. vocabs)</li></button>
            <li><button class="dropdown-item" type="button" name="profile" value='thesis' data-toggle="button">Thesis</li></button>
            <li><button class="dropdown-item" type="button" name="profile" value='oai_pmh' data-toggle="button">OAI-PMH</li></button>
            <li><button class="dropdown-item" type="button" name="profile" value='oai_etdms' data-toggle="button">OAI-ETDMS</li></button>
          </ul>
        </div>
        <!-- below, select a property (a predicate or controlled vocabularly term) that you want to edit-->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle"  name="properties" type="button" data-toggle="dropdown">
            Select a Property
            <span class="caret"></span>
          </button>
          <div class='row' name="subtitle"></div>
          <ul class="dropdown-menu" id='properties' role="menu" aria-labelledby="properties" name='properties' data-toggle="button"></ul>
        </div>
      </div>
      <!-- below, a list of annotations (settings, or features) will be populated for viewing/editing-->
        <div class="list-group">
          <ul class="list-group" aria-labelledby="annotations" name='annotations'></ul>
          <!-- you may also create am entirely new annotation -->
          <ul class="list-group" aria-labelledby="newAnnotation" name='newAnnotation'><form name="newAnnotation"></form></ul>
        </div>
       <a href='audit' class='col'>View the audit trail</a>       
    </div>
  </body>
  <script type ="text/javascript" src ="{{ url_for('static', filename='script.js') }}" ></script>
</html>