<?xml version="1.0" encoding="UTF-8"?>
<record xmlns="http://www.loc.gov/MARC21/slim">
   <leader>01268cas a2200349 a 4500</leader>
   <controlfield tag="001">657473</controlfield>
   <controlfield tag="008">900115m19uu9999abcar        s      eng c</controlfield>
   <datafield tag="035" ind1=" " ind2=" ">
      <subfield code="a">ocm24280525</subfield>
   </datafield>
   <datafield tag="039" ind1="0" ind2=" ">
      <subfield code="f">dsz</subfield>
   </datafield>
   <datafield tag="040" ind1=" " ind2=" ">
      <subfield code="b">eng</subfield>
   </datafield>
   <datafield tag="043" ind1=" " ind2=" ">
      <subfield code="a">n-cn-ab</subfield>
   </datafield>
   <datafield tag="049" ind1=" " ind2=" ">
      <subfield code="a">AEU</subfield>
      <subfield code="b">eng</subfield>
   </datafield>
   <datafield tag="055" ind1=" " ind2="3">
      <subfield code="a">GB 2630 A3</subfield>
      <subfield code="b">W3146</subfield>
   </datafield>
   <datafield tag="090" ind1=" " ind2=" ">
      <subfield code="a">GB 1230 A3 S769</subfield>
      <subfield code="b">AEEN</subfield>
   </datafield>
   <datafield tag="090" ind1="0" ind2=" ">
      <subfield code="a">GB 2630 A3 W3146</subfield>
   </datafield>
   <datafield tag="240" ind1="0" ind2="0">
      <subfield code="a">Spring runoff summary /</subfield>
      <subfield code="c">prepared by the River Forecast Centre and the Survey Branch, Technical Services Division, Water Resources Management Services, Alberta Environment.</subfield>
   </datafield>
   <datafield tag="245" ind1="0" ind2="0">
      <subfield code="a">Spring runoff summary /</subfield>
      <subfield code="c">prepared by the River Forecast Centre and the Survey Branch, Technical Services Division, Water Resources Management Services, Alberta Environment.</subfield>
   </datafield>
   <datafield tag="260" ind1="0" ind2=" ">
      <subfield code="a">Edmonton :</subfield>
      <subfield code="b">Alberta Environment, Water Resources Management Services,</subfield>
      <subfield code="c">[19--]-</subfield>
   </datafield>
   <datafield tag="300" ind1=" " ind2=" ">
      <subfield code="a">v. :</subfield>
      <subfield code="b">ill. ;</subfield>
      <subfield code="c">29 cm.</subfield>
   </datafield>
   <datafield tag="310" ind1=" " ind2=" ">
      <subfield code="a">Annual.</subfield>
   </datafield>
   <datafield tag="500" ind1=" " ind2=" ">
      <subfield code="a">Description based on: 1987.</subfield>
   </datafield>
   <datafield tag="596" ind1=" " ind2=" ">
      <subfield code="a">4 48</subfield>
   </datafield>
   <datafield tag="650" ind1=" " ind2="0">
      <subfield code="a">Runoff</subfield>
      <subfield code="z">Alberta</subfield>
      <subfield code="v">Periodicals.</subfield>
   </datafield>
   <datafield tag="710" ind1="2" ind2="0">
      <subfield code="a">Alberta River Forecast Centre.</subfield>
   </datafield>
   <datafield tag="710" ind1="1" ind2="0">
      <subfield code="a">Alberta.</subfield>
      <subfield code="b">Water Resources Management Services.</subfield>
      <subfield code="b">Survey Branch.</subfield>
   </datafield>
   <datafield tag="926" ind1=" " ind2=" ">
      <subfield code="a">UASCITECH</subfield>
      <subfield code="b">ON_SHELF</subfield>
      <subfield code="c">GB 2630 A3 W3146 1987</subfield>
      <subfield code="d">BOOK</subfield>
      <subfield code="f">1</subfield>
   </datafield>
   <datafield tag="926" ind1=" " ind2=" ">
      <subfield code="a">UASCITECH</subfield>
      <subfield code="b">ON_SHELF</subfield>
      <subfield code="c">GB 2630 A3 W3146 1988</subfield>
      <subfield code="d">BOOK</subfield>
      <subfield code="f">1</subfield>
   </datafield>
   <datafield tag="927" ind1=" " ind2=" ">
      <subfield code="a">AGL_GWL</subfield>
   </datafield>
   <datafield tag="927" ind1=" " ind2=" ">
      <subfield code="b">Location</subfield>
      <subfield code="c">ON_SHELF-- GB 1230 A3 S769</subfield>
   </datafield>
   <datafield tag="927" ind1=" " ind2=" ">
      <subfield code="b">Library has</subfield>
      <subfield code="c">1987</subfield>
   </datafield>
   <datafield tag="927" ind1=" " ind2=" ">
      <subfield code="a">UASCITECH</subfield>
   </datafield>
   <datafield tag="927" ind1=" " ind2=" ">
      <subfield code="b">Location</subfield>
      <subfield code="c">ON_SHELF-- GB 2630 A3 W3146</subfield>
   </datafield>
   <datafield tag="927" ind1=" " ind2=" ">
      <subfield code="b">Library has</subfield>
      <subfield code="c">1987-1988</subfield>
   </datafield>
</record>
