<!DOCTYPE html>
<html lang="en">

<head>
    <title>CLDI - Testing Website</title>
    <basehref="http://canlink.library.ualberta.ca/submission/">
    <script>
    // if the item in the local storage isn't available, then someone tried to access /thesisSubmission without actually submitting anything
    //if (localStorage.getItem("canlink_submission") === null) {
      //  window.location.replace("/submit");
    //}
    </script>
    <meta charset="utf-8" /> {% load static %}
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="../../static/website/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../static/website/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="../../static/website/css/styles.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{% csrf_token %}">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="../../static/website/js/scripts.js"></script>
</head>

<body>
    <div class="container-fluid">
        <!-- title -->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center center-block" id="mainTitle"> Insert Title Here </div>
            <div class="col-sm-3"></div>
        </div>
        <!-- paste area -->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" id="pasteArea">
                <div id="messages">
                    <hr>
                    <div class="text-center" id="successMessage"></div>
                    <hr>
                    <div id="errors">
                        <div id="heading">ERRORS</div>
                        <div id="errors_body"></div>
                    </div>
                    <div id="submissions">
                        <div id="heading">SUBMISSIONS</div>
                        <div id="submissions_body"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</body>
<script>
var retrievedObject = localStorage.getItem('canlink_submission');
localStorage.removeItem("canlink_submission");

var canlink_submission = JSON.parse(retrievedObject);

document.getElementById("successMessage").innerHTML = canlink_submission.submissions.length + " out of " + canlink_submission.total_records + " records processed successfully";

if (canlink_submission.errors.length >= 1) {
    document.getElementById("errors").style.display = "block";
    $("#pasteAreaSubmitButtonText").html('Errors Occured');

    for (error in canlink_submission.errors) {
        console.log(canlink_submission.errors[error]);
        $("#errors_body").append("<div class='file_error'><div class='file_error_message'>" + canlink_submission.errors[error] + "</div>");
    }

}

if (canlink_submission.submissions.length >= 1) {
    document.getElementById("submissions").style.display = "block";
    for (thesis in canlink_submission.submissions) {
        console.log(canlink_submission.submissions[thesis]);
        $("#submissions_body").append("<div class='file_submission'><div class='file_submission_message'>" + canlink_submission.submissions[thesis] + "</div>");
    }
}
</script>

</html>
