 hr.divider { 
 	 height: 12px; 
 	 border: 0; 
 	 box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
 }

.dummy_object {
	visibility: collapse;
}

.main-heading {
	color: #fff;
}

.form_container {
	width: 50%;
	margin-left: 25%;
	margin-top: 1%;
	padding: 2%;
	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.form_container:before, .form_container:after {
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0%;
    bottom:0;
    left:0px;
    right:0px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.form_container:after {
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.progress {
	height: 30px;
}