{% extends 'webapp/base.html' %}
{% load replace %}
{% block content %}

{% include 'webapp/includes/welcome.html' %}

<br>
  <br>
  <div class="file-format">
    <h4 class= "text-center">Select a file type to uplaod</h4>
    <div class="file-type-selector">
    <div class= "form-check form-check-inline">
      <label class="form-check-label" id="marc_select">MARC <span class="badge badge-pill badge-danger">.mrc</span>
        <input class="form-check-input marc" type="radio" name="file_format">
      </label>
      <label class="form-check-label" id=bib_select>BIBFRAME <span class="badge badge-pill badge-danger">.xml</span>
        <input class="form-check-input bib" type="radio" name="file_format">
      </label>
      </div>
      </div>
      <div class="bib_form">
        <div class="form_container">
          <h4>BIBFRAME files upload -- Please make sure your file extension is ".xml"</h4><br>
          <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ bib_form.as_p }}
            <button class="btn btn-default btn-danger" type="submit">Upload BIBFRAME</button>
          </form>
        </div>
      </div>
      <div class="marc_form">
        <div class="form_container">
          <h4>MARC files upload -- Please make sure your file extension is ".mrc"</h4>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            {{ marc_form.as_p }}
          <button class="btn btn-default btn-danger" type="submit">Upload Marc</button>
        </form>
      </div>
      </div>
      
      {% if docs %}
        <br><hr class="divider-top">

        <h4>Uploaded files ({{ docs|length|minus }} files):</h4>
        {% ifequal docs|length 1 %}
          <table class="table table-hover" class="table table-bordered" style="width:100%">
            <tr>
              <th></th>
              <th>Filename</th>
              <th>Type</th>
              <th>Description</th>
              <th>Uploaded at</th>
              <th></th>
            </tr>
            <tr> <td colspan="6" align="center">No file has been uploaded</td></tr>
          {% else %}
        <form action="{% url 'processingQueue' %}" method="POST">
        <table class="table table-hover" class="table table-bordered" style="width:100%">
          <tr>
            <th></th>
            <th>Filename</th>
            <th>Type</th>
            <th>Description</th>
            <th>Uploaded at</th>
            <th></th>
          {% for obj in docs %}
            {% if obj.OID == "thisisadummyobjectonlynumber123456" %}
              <tr class="dummy_object">
                <td><input type="checkbox" name="file_selected" value="{{ obj.name }}"></td>
                <td>{{ obj.name|replaceMARC|replaceBIB }}</td>
                <td>{{ obj.file_type }}</td>
                <td>{{ obj.description }}</td>
                <td><small>{{ obj.uploaded_at }}</small></td>
                <td><form action="{% url 'record-d' id=obj.id  format=obj.file_format old_id=obj.old_id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{ obj.name }}?')"/>
                  </form></td>
              </tr>
            {% else %}
              <tr>
                <td><input type="checkbox" class="file_selector" name="file_selected" value="{{ obj.name }}"></td>
                <td>{{ obj.name|replaceMARC|replaceBIB }}</td>
                <td>{{ obj.file_type }}</td>
                <td>{{ obj.description }}</td>
                <td><small>{{ obj.uploaded_at }}</small></td>
                <td><form action="{% url 'record-d' id=obj.id  format=obj.file_format old_id=obj.old_id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{ obj.name }}?')"/>
                  </form></td>
              </tr>
            {% endif %}
          {% endfor %}
          <tr>
            <td colspan="6" align="center" style="background: #eef;"><input type="checkbox" class="bib_merge" name="merge" value="merge" title="Merging the files will help speed up the process and also will produce better stats and visuals"> Merge BIBFRAME files for processing?</td>
          </tr>
        {% endifequal %}
          
        </table>
        
        <br><hr class="divider-bottom">
        <h4 class= "text-center">Select at least one search API</h4>
        <div class="form_container">
          <table class="table table-hover APIs">
            <tr>
              <td>
                <input class="search_api_LC api_selected" type="checkbox" name="search-API-selector" value="search_api_LC">
              </td>
              <td>
                <label id="LC">Library of Congress didyoumean API </label>
              </td>
              <td>
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#LCModal">
                View Query Template
                </button>
                {% include 'webapp/includes/LCModal.html' %}
              </td>
          </tr>
          <tr>
            <td>
                <input class="search_api_LCS api_selected" type="checkbox" name="search-API-selector" value="search_api_LCS">
            </td>
            <td>
              <label id="LC">Library of Congress Suggest API </label>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#LCSModal">
                View Query Template
                </button>
                {% include 'webapp/includes/LCSModal.html' %}
              </td>
          </tr>
          <tr>
            <td>
                <input class="viaf api_selected" type="checkbox" name="search-API-selector" value="search_api_VF">
            </td>
            <td>              
              <label id=viaf>VIAF General API </label>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#VFModal">
                View Query Template
                </button>
                {% include 'webapp/includes/VFModal.html' %}
              </td>
          </tr>
          <tr>
            <td>
                <input class="search_api_VFP api_selected" type="checkbox" name="search-API-selector" value="search_api_VF">
            </td>
            <td>
              <label id=viaf>VIAF Personal names API </label>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#VFPModal">
                View Query Template
                </button>
                {% include 'webapp/includes/VFPModal.html' %}
              </td>
          </tr>
          <tr>
            <td>
                <input class="search_api_VFC api_selected" type="checkbox" name="search-API-selector" value="search_api_VF">
            </td>
            <td>
              <label id=viaf>VIAF Corporate names API </label>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#VFCModal">
                View Query Template
                </button>
                {% include 'webapp/includes/VFCModal.html' %}
              </td>
          </tr>
          </table>
        </div>
          <br>
            <button class="btn btn-default btn-danger btn-lg btn-block process_button" style="width: 50%; margin: 0 auto; margin-bottom: 10px;" type="submit">PROCESS</button>
          </form>
          <form action="{% url 'processingQueue' %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-default btn-secondary btn-lg btn-block" style="width: 50%; margin: 0 auto; margin-bottom: 10px;" type="submit" value="Visit Processing Queue ({{ processing_documents|length }} items)"/>
          </form>
     
    {% endif %}

  </div>

{% endblock %}