{% extends 'webapp/base.html' %}
{% load replace %}
{% block content %}
<br>
  <br>
  <div class="file-format">
    <h4 class= "text-center">Select your file type</h4>
    <div class= "list-group list-group-flush">
      <label class="list-group-item" id="marc_select">NARC <span class="badge badge-primary">.mrc</span>
        <input class="marc" type="radio" name="file_format">
      </label>
      <label class="list-group-item" id=bib_select>BIBFRAME <span class="badge badge-primary">.xml</span>
        <input class="bib" type="radio" name="file_format">
      </label>
      </div>
      <div class="bib_form">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <h4>BIBFRAME files upload -- Please make sure your file extension is ".xml"</h4>
            {{ bib_form.as_p }}
          <button class="btn btn-default btn-danger" type="submit">Upload BIBFRAME</button>
        </form>
      </div>
      <div class="marc_form">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
            <h4>MARC files upload -- Please make sure your file extension is ".mrc"</h4>
            {{ marc_form.as_p }}
          <button class="btn btn-default btn-danger" type="submit">Upload Marc</button>
        </form>
      </div>
      
      {% if docs %}
        <br><br><hr>
        <h4>Uploaded files:</h4>
        <form action="{% url 'processing' %}" method="POST">
        <table class="table table-hover" class="table table-bordered" style="width:100%">
          <tr>
            <th></th>
            <th>Filename</th>
            <th>Type</th>
            <th>Description</th>
            <th>Uploaded at</th>
            <th></th>
          {% for obj in docs %}
            {% if obj.OID == "thisisadummyobjectonlynumber123456" %}
              <tr style="visibility: collapse;">
                <td><input type="checkbox" name="file_selected" value="{{ obj.document.name }}"></td>
                <td>{{ obj.name|replaceMARC|replaceBIB }}</td>
                <td>{{ obj.file_type }}</td>
                <td>{{ obj.description }}</td>
                <td><small>{{ obj.uploaded_at }}</small></td>
                <td><form action="{% url 'record-d' id=obj.id  format=obj.file_format old_id=obj.old_id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{ obj.name }}?')"/>
                  </form></td>
              </tr>
            {% else %}
              <tr>
                <td><input type="checkbox" name="file_selected" value="{{ obj.document.name }}"></td>
                <td>{{ obj.name|replaceMARC|replaceBIB }}</td>
                <td>{{ obj.file_type }}</td>
                <td>{{ obj.description }}</td>
                <td><small>{{ obj.uploaded_at }}</small></td>
                <td><form action="{% url 'record-d' id=obj.id  format=obj.file_format old_id=obj.old_id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{ obj.name }}?')"/>
                  </form></td>
              </tr>
            {% endif %}
          {% endfor %}
          
        </table>
        <input class="btn btn-default btn-danger" type="submit" value="PROCESS"/>
        </form>
    {% endif %}
  </div>
{% endblock %}