{% extends 'webapp/base.html' %}
{% load replace %}
{% block content %}
{% if files %}
	<div>
		<h3>Files currently being processed:</h3>
		<table class="table table-hover">
			<tr>
				<th>Filename</th>
				<th>Type</th>
				<th>Description</th>
				<th>Progress</th>
				<th></th>
			</tr>
        		{% for i, j in files.items %}
			<tr>
        			<td>{{ i|replaceMARC|replaceBIB }}</td>
        			{% for values in j %}
        				<td>{{ values }}</td>
        			{% endfor %}
        			<td><form action="{% url 'stop' id='test' %}" method="POST">
                  {% csrf_token %}
                  <input class="btn btn-default btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to stop processing {{ obj.document.url }}?')"/>
                </form></td>
			</tr>
        		{% endfor %}
		</table>
	</div>
	
{% endif %}

<p><a href="{% url 'index' %}">Return to home</a></p>
{% endblock %}