.col { 	margin: 10px;
}

.input-group {	border: solid;
				border-width: 1px;
				border-color: silver;
}

li.row { width: 100%;
		margin: auto;
		padding: 1em;
		border: solid;
		border-width: 1px;
		border-color: silver;

}

div.col {margin: auto}

button { margin: 10px; }